/*Desktop*/
#answered-questions{
  padding: 0px 0px;
  width: 53%;
  margin:auto auto 50px auto;
}

#answered-questions .search-aq{
  text-align: center;
}

#myInput {
  background-color:#f6f6f6;
  width: 60%;
  height: 40px;
  font-size: 14px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin: 0px auto 30px auto;
}

#questions {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#questions div > li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #fff; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#questions p{font-size: 15px;}
#questions a{color: #2578b5;}

#questions li{
  margin: 10px 0px !important;
  font-size: 15px;
}

/* Style the buttons that are used to open and close the accordion panel */
#questions .accordion {
  background-color: transparent;
  color: #2578b5;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s;
  text-transform: capitalize;
  border: none;
  border-bottom: 1px solid #2578b5;
}

#questions .accordion:last-child {
  border-bottom: 0px;
}

#questions .accordion:after {
  font-family: "Font Awesome 5 Free";
  content: "\f063";
  font-size:16px;
  right:365px;
  position: absolute;
  /*top:0px;*/
  visibility: initial !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
#questions .active, .accordion:hover {
  background-color: transparent;
}

#questions .active:after {
  font-family: "Font Awesome 5 Free";
  content: "\f062";
  font-size:16px;
  right:365px;
  position: absolute;
  /*top:0px;*/
  visibility: initial !important;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/* Mobile View */
@media only screen and (max-width: 768px) 
and (min-width: 280px) {

#answered-questions{
  padding: 0px 10px;
  width: 100%;
  margin:auto;
}

#questions .accordion:after {
  right:15px;
  position: absolute;
}

}
